*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --background-color-body: #011e3c;
  --background-color-button: #ffffff;
  --btn-close-hover: #663399;
  --background-color-footer: #081a2e;
  --footer-text-color: #ebedf0;
  --text-manual: #444444;
  --outline-plum: #dda0dd;
}

[data-theme="light"] {
  --background-color-body: #fff5ee;
  --background-color-button: #e6e6e6;
  --background-color-footer: #303846;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  font-family: "ABeeZee", sans-serif;
  font-size: 16px;
  line-height: 1em;
  background-color: var(--background-color-body);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.main {
  position: relative;
  padding-top: 75px;
  flex-grow: 1;
}

.button-theme {
  position: absolute;
  top: 22px;
  right: 40px;
  display: inline-block;
  padding: 7px 10px;
  min-width: 120px;
  background-color: var(--background-color-button);
  border: none;
  border-radius: 5px;
  z-index: 99;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}
