:root {
  --background-color-body: #011e3c;
  --background-color-button: #ffffff;
  --background-color-footer: #081a2e;
  --footer-text-color: #ebedf0;
}

[data-theme="light"] {
  --background-color-body: #fff5ee;
  --background-color-button: #e6e6e6;
  --background-color-footer: #303846;
}

$white: hsl(0, 0%, 100%);
$thistel: hsl(300, 24.3%, 79.8%);
$gains-boro: hsl(0, 0%, 86.3%);
$plum: hsl(300, 47.3%, 74.7%);
$dim-gray: hsl(0, 0%, 41.2%, 0.3);
$pink: hsl(350, 100%, 87.6%);


$desktop: 1068px;
