$white: hsl(0, 0%, 100%);
$thistel: hsl(300, 24.3%, 79.8%);
$gains-boro: hsl(0, 0%, 86.3%);
$plum: hsl(300, 47.3%, 74.7%);
$dim-gray: hsl(0, 0%, 41.2%, 0.3);
$pink: hsl(350, 100%, 88%);


$desktop: 1068px;
