// Filters
.filters {
  display: flex;
  align-items: center;
  height: 100%;

  @media (min-width: 600px) {
    gap: 10px;
  }
}

.filters__link {
  font-size: 1rem;
  line-height: 1em;
  text-decoration: none;
  color: #000000;
  padding: 3px 7px;
  border: 1px solid transparent;
  border-radius: 3px;

  &--active {
    border-color: #dda0dd;
    pointer-events: none;
  }

  &:hover {
    border-color: #dda0dd;
  }
}

.filters__button {
  display: none;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 0.8rem;

  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
