.todo {
  position: relative;
  display: flex;
  flex-direction: column;

  h1 {
    margin: 0;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 76px;
    line-height: 1em;
    text-align: center;
    color: var(--_pink);
  }
}

.todo__new {
  margin: 0;
  padding: 16px 16px 16px 60px;
  display: flex;
  background-color: var(--_white);
  border: none;
  box-shadow: inset 0 -2px 1px rgb(192, 192, 192, 0.6);
  font-size: 2rem;
  width: 100%;
  position: relative;

  &:focus {
    outline: 0;
  }
}

.todo__label {
  position: absolute;
  top: 75%;
  left: 5px;
  display: block;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.todo__button {
  width: 1px;
  height: 1px;
  border: none;
  opacity: 0;
  position: absolute;
  right: 100%;
  bottom: 100%;
}

.todo__button + label {
  width: 60px;
  height: 34px;
  font-size: 0;
  position: absolute;
  top: -52px;
  left: -10px;
  transform: rotate(90deg);
}

.todo__button + .todo__button--control::before {
  content: "❯";
  padding: 10px 27px;
  font-size: 22px;
  color: #e6e6e6;
  cursor: pointer;
}

.todo__button:hover + .todo__button--control::before {
  color: #737373;
}

.todo__button:checked + .todo__button--control::before {
  color: #737373;
}
